/*
  This file is part of Quirky.

  Quirky is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Quirky is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Quirky.  If not, see <http://www.gnu.org/licenses/>.
*/

body {
    background-image: url("light_noise_diagonal.png");
    font-family: "Open Sans", sans-serif;
    margin: 8px;
}

button {
    border: 1px solid black;
    background: #dfdfdf;
    background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#dfdfdf));
    background: -webkit-linear-gradient(top, #efefef, #dfdfdf);
    background: -moz-linear-gradient(top, #efefef, #dfdfdf);
    background: -ms-linear-gradient(top, #efefef, #dfdfdf);
    background: -o-linear-gradient(top, #efefef, #dfdfdf);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: black;
    padding: 0 10px;
    height: 1.8em;
    vertical-align: top;
}
button:hover {
    background: #efefef;
}
button:active {
    background: #dfdfdf;
}

input {
    padding: 0 0;
    height: 1.2em;
    font-size: 1.2em;
}

.bold {
    font-weight: bold;
}

.logo {
    font-family: 'Chango', cursive;
    font-weight: bold;
    text-align: center;
    font-size: 3em;
    color: #4E5C7D;
    margin: 0 0 1% 0;
}

.error {
    clear: both;
    text-align: center;
    border: red 1px solid;
    background: lightgray;
    color: red;
}

/* main board */

.boardpiece {
    float: left;
    font-weight: bold;
    background: url("wood.png");
    text-align: center;
    font-size: 200%
}

.piece {
    float: left;
    font-weight: bold;
    background: url("wood.png");
    text-align: center;
    font-size: 200%
}

.grid {
    float: left;
    font-weight: bold;
    text-align: center;
    font-size: 200%
}

.snapgrid {}

#board {
    height: 400px;
    width: 400px;
    overflow: auto;
    border: solid 1px;
}

#game_room_main {
    float: left;
    height: 100%;
    width: 50%;
    margin: 1% 0% 1% 1%
}

#sideboard {
    float: left;
    margin: 1% 1% 1% 1%;
    width: 40%;
}

.game_chat_panel {
    float: left;
    margin: 1% 1% 1% 1%;
    width: 40%;
    height: 35%;
}

#pieces {
    float: left;
    width: 100%;
}

/* panel */

.panel {
    color: white;
    padding: 1em;
    background-color: #A3B0B3;
}

.panel hr {
    clear: both;
    width: 100%;
}

.panel table {
    color: white;
    text-align: left;
}

/* player table */

#player_table {
    float: left;
    width: 100%;
}

.pturn {
    width: 10%
}

.pdata {
    width: 40%;
}

/* lobby */

#lobby_chat {
    float: right;
    width: 63%;
    height: 80%;
    padding: 1em;
}

#lobby_game_panel {
    float: left;
    width: 30%;
    height: 80%;
}

#add_game > input {
    max-width: 60%;
}

#games {
    max-height: 90%;
    overflow: auto;
}

#games_tbl {
    width: 100%;
}

#no_games {
    color: #4E5C7D;
    font-size: 2em;
    text-align: center;
}

.lobby_chat_panel {
    height: 100%;
    width: 100%;
    float: left;
}

.game_link {
    color: #4E5C7D;
    font-weight: bold;
}

.game_link:hover {
    cursor: pointer;
    color: #FFAF5A;
}

/* chat */

.text {
    background: F6F7FA;
    color: black;
    border: 1px #A3B0B3 solid;
}

#chat_log {
   width: 98%;
   height: 90%;
   overflow: auto;
}

.mymsg {
    color: red;
}

.othermsg {
    color: blue;
}

#chat_input input {
    width: 85%;
    margin: 0 0 1%;
}

#add_guest input {
    width: 50%
    margin: 0 0 1%;
}