/*
  This file is part of Quirky.

  Quirky is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Quirky is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Quirky.  If not, see <http://www.gnu.org/licenses/>.
*/

body {
    background-image: url("light_noise_diagonal.png");
    font-family: "Helvetica", "Open Sans", sans-serif;
}

.bold {
    font-weight: bold;
}

.error {
    color: red;
}

/* main board */

.boardpiece {
    float: left;
    font-weight: bold;
    background: black;
    text-align: center;
    font-size: 200%
}

.piece {
    float: left;
    font-weight: bold;
    background: black;
    text-align: center;
    font-size: 200%
}

.grid {
    float: left;
    font-weight: bold;
    text-align: center;
    font-size: 200%
}

.snapgrid {}

#board {
    height: 400px;
    width: 400px;
    overflow: auto;
    border: solid 1px;
}

/* panel */

.panel {
    color: white;
    border: solid 466B74;
    border-radius: 1em;
    padding: 1em;
    background-color: 678187;
    box-shadow: 5px 5px 5px black;
}

.panel hr {
    float: left;
    width: 100%;
}

.panel table {
    color: white;
    text-align: left;
}

/* player table */

.pturn {
    width: 10%
}

.pdata {
    width: 40%;
}

/* lobby */

#lobby_left {
    float: left;
    width: 60%;
    height: 90%;
    margin: 1% 1% 1% 1%;
}

#lobby_game_panel {
    float: right;
    width: 30%;
    height: 90%;
    margin: 1% 1% 1% 1%;
}

#lobby_head_panel {
    height: 10%;
    width: 100%;
    float: left;
    margin: 0% 0% 1% 0%;
}

.lobby_chat_panel {
    height: 80%;
    width: 100%;
    float: left;
    margin: 0% 0% 1% 0%;
}

/* chat */

.chat {
    background: white;
    width: 98%;
    height: 88%;
}

#chat_input, #add_guest {
    margin: 1% 0% 0% 0%;
}

#chat_input input {
    width: 85%;
}

#add_guest input {
    width: 50%
}