/*
  This file is part of Quirky.

  Quirky is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Quirky is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Quirky.  If not, see <http://www.gnu.org/licenses/>.
*/

body {
    background-image: url("light_noise_diagonal.png");
    font-family: "Helvetica", "Open Sans", sans-serif;
}

.bold {
    font-weight: bold;
}

.logo {
    font-weight: bold;
    text-align: center;
    font-size: 3em;
}

.error {
    clear: both;
    text-align: center;
    border: red 1px solid;
    background: lightgray;
    color: red;
}

/* main board */

.boardpiece {
    float: left;
    font-weight: bold;
    background: url("wood.png");
    text-align: center;
    font-size: 200%
}

.piece {
    float: left;
    font-weight: bold;
    background: url("wood.png");
    text-align: center;
    font-size: 200%
}

.grid {
    float: left;
    font-weight: bold;
    text-align: center;
    font-size: 200%
}

.snapgrid {}

#board {
    height: 400px;
    width: 400px;
    overflow: auto;
    border: solid 1px;
}

#game_room_main {
    float: left;
    height: 100%;
    width: 50%;
    margin: 1% 0% 1% 1%
}

#sideboard {
    float: left;
    margin: 1% 1% 1% 1%;
    width: 40%;
}

.game_chat_panel {
    float: left;
    margin: 1% 1% 1% 1%;
    width: 40%;
    height: 35%;
}

#pieces {
    float: left;
    width: 100%;
}

/* panel */

.panel {
    color: white;
    border: solid 466B74;
    border-radius: 1em;
    padding: 1em;
    background-color: 678187;
    box-shadow: 5px 5px 5px black;
}

.panel hr {
    float: left;
    width: 100%;
}

.panel table {
    color: white;
    text-align: left;
}

/* player table */

#player_table {
    float: left;
    width: 100%;
}

.pturn {
    width: 10%
}

.pdata {
    width: 40%;
}

/* lobby */

#lobby_left {
    float: left;
    width: 60%;
    height: 80%;
    margin: 1% 1% 1% 0%;
}

#lobby_game_panel {
    float: right;
    width: 30%;
    height: 80%;
    margin: 1% 1% 1% 0%;
}

#lobby_head_panel {
    height: 7%;
    width: 96%;
    float: left;
    margin: 0% 0% 0% 0%;
}

.lobby_chat_panel {
    height: 100%;
    width: 100%;
    float: left;
    margin: 0% 0% 0% 0%;
}

#lobby_game_panel > table{
    width: 100%;
}

.game_link {
    color: #FFFB8C;
    font-weight: bold;
    text-decoration: underline;
}

.game_link:hover {
    cursor: pointer;
    color: #FFAF5A;
}

/* chat */

.chat {
    background: white;
    color: black;
    width: 98%;
    height: 88%;
    overflow: auto;
}

.mymsg {
    color: red;
}

.othermsg {
    color: blue;
}

#chat_input, #add_guest {
    margin: 1% 0% 0% 0%;
}

#chat_input input {
    width: 85%;
}

#add_guest input {
    width: 50%
}