/*
  This file is part of Quirky.

  Quirky is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Quirky is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Quirky.  If not, see <http://www.gnu.org/licenses/>.
*/

body {
    background-image: url("light_noise_diagonal.png");
    font-family: "Open Sans", sans-serif;
    margin: 8px;
}

a {
    color: #4E5C7D;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #FFAF5A;
}

button {
    border: 1px solid black;
    background: #dfdfdf;
    background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#dfdfdf));
    background: -webkit-linear-gradient(top, #efefef, #dfdfdf);
    background: -moz-linear-gradient(top, #efefef, #dfdfdf);
    background: -ms-linear-gradient(top, #efefef, #dfdfdf);
    background: -o-linear-gradient(top, #efefef, #dfdfdf);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: black;
    padding: 0 10px;
    height: 1.8em;
    vertical-align: top;
}
button:hover { background: #efefef; }
button:active { background: #dfdfdf; }

input {
    padding: 0 0;
    height: 1.2em;
    font-size: 1.2em;
}

#howtobttn {
    position: absolute;
    right: 2em;
    top: 1.8em;
    border: 2px dotted #4E5C7D;
    font-size: 1.2em;
    color: #4e5c7d;
    vertical-align: top;
    background: #ff9933;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffaf5a), to(#ff9933));
    background: -webkit-linear-gradient(top, #ffaf5a, #ff9933);
    background: -moz-linear-gradient(top, #ffaf5a, #ff9933);
    background: -ms-linear-gradient(top, #ffaf5a, #ff9933);
    background: -o-linear-gradient(top, #ffaf5a, #ff9933);
    padding: 0 10px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
}
#howtobttn:hover { background: #ffaf5a; }
#howtobttn:active { background: #ff9933; }

.bold {
    font-weight: bold;
}

.logo {
    font-family: 'Chango', cursive;
    font-weight: bold;
    text-align: center;
    font-size: 4em;
    color: #4E5C7D;
    margin: 0 0 1% 0;
}

#errors {
    clear: both;
    padding: 2% 0 0 0;
}

.error {
    clear: both;
    text-align: center;
    border: red 1px solid;
    background: lightgray;
    color: red;
}

/* main board */

.boardpiece {
    float: left;
    font-weight: bold;
    background: url("wood.png");
    text-align: center;
    font-size: 200%
}

.piece {
    float: left;
    font-weight: bold;
    background: url("wood.png");
    text-align: center;
    font-size: 200%
}

.grid {
    float: left;
    font-weight: bold;
    text-align: center;
    font-size: 200%
}

.snapgrid {}

#board {
    height: 450px;
    width: 450px;
    border: 1px #A3B0B3 solid;
    background: F6F7FA;
}

.activate#board {
    border: 2px #FFAF5A solid;
}

#game_room_main {
    float: left;
    width: 50%;
    margin: 0 0 0 1%
}

#sideboard {
    float: left;
    width: 40%;
}

.game_chat_panel {
    clear: both;
}

#pieces {
    clear: both;
    width: 100%;
}

/* panel */

.panel {
    color: white;
    padding: 1em;
    background-color: #A3B0B3;
}

.panel hr {
    clear: both;
    width: 100%;
}

.panel table {
    color: white;
    text-align: left;
}

/* player table */

#player_table {
    float: left;
    width: 100%;
}

.pturn {
    width: 10%
}

.pdata {
    width: 40%;
}

/* lobby */

#lobby_chat {
    float: right;
    width: 63%;
    height: 80%;
}

#lobby_game_panel {
    float: left;
    width: 30%;
    height: 80%;
}

#add_game > input {
    max-width: 55%;
}

#games {
    max-height: 90%;
    overflow: auto;
}

#games_tbl {
    width: 100%;
}

#no_games {
    color: #4E5C7D;
    font-size: 2em;
    text-align: center;
}

.lobby_chat_panel {
    height: 100%;
    width: 100%;
    float: left;
    margin: 2% 0 0 0;
}

/* chat */

.text {
    background: F6F7FA;
    color: black;
    border: 1px #A3B0B3 solid;
}

#chat_log {
   width: 98%;
   height: 90%;
   overflow: auto;
}

.game_chat_panel > #chat_log {
   height: 30%;
   overflow: auto;
}


.mymsg {
    color: red;
}

.othermsg {
    color: blue;
}

#chat_input input {
    width: 80%;
    margin: 0 0 1%;
}

#add_guest_form {
    vertical-align: middle;
    text-align: center;
    margin: 10% 0 0 0;
    font-size: 2em;
}

#add_guest_form > input {
    width: 30%;
}

#add_guest_form > button {
    padding: 0 20px;
    height: 3.4em;
}
