/*
  This file is part of Quirky.

  Quirky is free software under the terms of the GNU General Public License
  version 3, see <http://www.gnu.org/licenses/>.
*/

@import url(normalize.css);
@import url(color.css);
@import url(typography.css);

body { height: 740px; width: 1000px; margin: auto; }

#howto, #lobby, #add_guest, #game_room, #loading_game {
    position: relative;
    width: 100%;
    height: 96%;
}

footer { height: 4%; }

button {
    vertical-align: top;
    padding: 0;
    box-sizing: content-box;
}

input {
    padding: 0 0;
}

hr { clear: both; }

#howtobttn {
    position: absolute;
    right: 2em;
    top: 1.8em;
    vertical-align: top;
    padding: 0 10px;
}

.logo { height: 15%; }

#errors {
    clear: both;
}

.error { clear: both; }

/* main board */

#sideboard {
    position: absolute;
    left: 0;
    width: 36%;
    height: 97%;
    padding:  7px 1% 8px 1%;
    margin-top: 7px;
}

#pieces, #sideboard > button { width: 100%; }
#pieces {height: 10%; }
#players { height: 10%; }

#game_room_main {
    position: absolute;
    left: 38%;
    width: 60%;
    height: 100%;
    padding: 0 1%;
}

#board {
    height: 100%;
    width: 100%;
}

.boardpiece, .grid { float: left; }
.piece { float: left; z-index: 1;}
.snapgrid { }

/* Score list */

dl {
    clear: both;
    width: 100%;
}

dd, dt {
    float: left;
    margin: 0;
}

dd {
    width: 13%;
}

dt {
    position: relative;
    left: 10px;
    width: 37%;
}

.has_turn:before {
    content: "\261b";
    left: -10px;
    position: relative;
}

/* lobby */

#lobby_chat {
    position: absolute;
    left: 38%;
    width: 60%;
    height: 85%;
    padding: 0 1%;
}

#lobby_game_panel {
    position: absolute;
    left: 0;
    width: 36%;
    height: 84%;
    padding: 0 1%;
    padding-top: 7px;
}

#add_game {
    position: relative;
    width: 100%;
    height: 5%;
}
#add_game > input {
    position: absolute;
    height: 100%;
    width: 68%;
}
#add_game > button {
    position: absolute;
    height: 100%;
    left: 68%;
    width: 31%;
    margin: 0 0 0 1%;
}

#games {
    max-height: 90%;
    overflow: auto;
}

#games_tbl { width: 100%; }

/* chat */

#chat_panel {
    width: 100%;
    height: 100%;
    position: relative;
}

#chat_log {
   width: 100%;
   height: 94%;
   overflow: auto;
   position: absolute;
   top: 6%;
}

#chat_input { width: 100%; }
#chat_input input {
    width: 80%;
    position: absolute;
}
#chat_input button {
    position: absolute;
    left: 80%;
    margin: 0 0 0 1%;
    width: 19%;
}

#chat_panel.game_chat_panel { height: 35%; }
.game_chat_panel > #chat_log { height: 82%; top: 15%; }

/* add guest */

#add_guest_form {
    vertical-align: middle;
    height: 80%;
}

#add_guest_form > input { width: 30%; }
#add_guest_form > button { padding: 0 20px; }