/*
  This file is part of Quirky.

  Quirky is free software under the terms of the GNU General Public License
  version 3, see <http://www.gnu.org/licenses/>.
*/

body { font-family: "Open Sans", sans-serif;}

a {
    font-weight: bold;
    text-decoration: none;
}

input { font-size: 1.4em; }

button {
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    font-size: 1.4em;
}

#add_guest_form {
    text-align: center;
    font-size: 2em;
}

#howtobttn {
    font-size: 1.2em;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
}

.bold { font-weight: bold; }

.logo {
    font-family: 'Chango', cursive;
    font-weight: bold;
    text-align: center;
    font-size: 4em;
}

.error { text-align: center; }

.boardpiece {
    font-weight: bold;
    text-align: center;
    font-size: 200%
}

.piece {
    font-weight: bold;
    text-align: center;
    font-size: 200%
}

.grid {
    font-weight: bold;
    text-align: center;
    font-size: 200%
}

.panel table { text-align: left; }

#no_games {
    font-size: 2em;
    text-align: center;
}

#add_guest_form { font-size: 2em; }
